/*CSS reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


/* targets the html element body*/

body {
	/*background-color: skyblue;*/
	/*background-image: url("../images/bg.jpeg");*/
	background-image: linear-gradient(rgba(255,213,217, 0.75),rgba(255,226,223, 0.45),rgba(255,238,238, 0.15)), url("../images/bg.jpeg");
	background-position: center;
	background-size: cover;
	background-repeat:  no-repeat;
	height: 100vh;
	color: #f2f2f2; /* off white */
}

/*end of body styling*/

/*targets html element h1*/

h1{
	font-size: 60px;
	/*background-color: #333; /*off black*/*/
	/*text-transform: uppercase;*/
	margin-bottom: 15px;
	letter-spacing: 3px;
	/*border-radius: 10px;*/   	
	font-family: 'Calligraffitti', cursive;


}
/*end of h1 styling*/

/*start of h2 styling*/
h2{
	color: #f2f2f2;
	text-transform:  uppercase;
	letter-spacing: 5px;
	margin-bottom: 15px;
	background-color: rgba(51,51,51, 0.5);
	/*margin: 10px;*/ /*margin adds space outside of the element*/
	padding:  10px; /*padding adds space inside the element*/
	border-radius: 10px;
	font-family: 'Open Sans', sans-serif;

}

/*end of h2 styling*/

/*targets the element with the 'class' bio*/
.bio {
	
    
    font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	background-color: rgba(51,51,51, 0.5);
	line-height: 1.75;
	border-radius: 10px;
	padding: 10px;
	text-align: justify;

}
/*end of class bio styling*/

/*targets the element with the 'id' me*/
#me {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border-color: #ffe2df;
	border-width: 5px;
	border-style: solid;
	margin-top: 50px;
	margin-bottom: 25px;

}
/*end of id me*/

.container {
	width: 500px;
	text-align: center;
	margin: 0 auto; /*this will center the element horizontally*/
}